# Dependências
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/
lib/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testes
coverage/
.nyc_output/

# Dados locais
.aws-local-simulator-data/

# Arquivos temporários
*.tmp
*.temp

*.ntvs*
*.njsproj
*.sln
*.sw?
.kiro
.env
SECURITY.md